In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

exploratory data analysis

df = pd.read_csv('train.csv')
df.shape

In [3]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
import seaborn as sns

In [6]:
df.sample(10)

,id,qid1,qid2,question1,question2,is_duplicate
367794,367794,498114,231793,How can I programmatically access YouTube vide...,How do you put subtitles on a YouTube video?,0
224014,224014,103893,30564,What do girls fantasize about when they are at...,What makes a man attractive to women?,0
403209,403209,19158,213440,How do a calico cat and a tortoiseshell cat di...,What are the difference between tortoiseshell ...,1
381541,381541,102296,38297,How do I stop resenting and hating someone?,How do I stop hating someone who hurt me?,1
253880,253880,368495,314279,"Between Ronaldo and Messi, who is better?","Who is a better player: Messi, Ronaldo or Bale?",0
401745,401745,535181,535182,What is it like to be a product manager at Apple?,What are Product Managers at Apple called?,0
43577,43577,78365,78366,Why are U.S. presidential elections held on th...,Why does election day fall on the first Tuesda...,1
252419,252419,366753,366754,What could the Republican establishment have d...,What could the GOP and the Republican candidat...,1
2437,2437,4843,4844,Why do not photons obey E = m c ^ 2?,How can photons have no mass and yet still hav...,0
400721,400721,534072,511951,How do I avoid emotional over eating?,How can I overcome emotional eating?,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [8]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [10]:
print(df['is_duplicate'].value_counts())

is_duplicate
0    255027
1    149263
Name: count, dtype: int64

repeated questions

In [11]:
qid = pd.Series(df['qid1'].tolist()+df['qid2'].to_list())

In [13]:
print("No of unique questions :",np.unique(qid).shape[0])

No of unique questions : 537933

In [21]:
x=qid.value_counts()>1
print("No of repeating questions:",x[x].shape[0])

No of repeating questions: 111780